$theme-colors:(
    "primary": #0787ff,
    "danger": #e71919
);

$border-radius: 10rem;

@font-face{
    font-family: "D-DIN";
    src: url('../fonts/din/D-DIN.woff2') format('woff2'),
         url('../fonts/din/D-DIN.woff') format('woff'),
         url('../fonts/din/D-DIN.ttf') format('truetype'),
         url('../fonts/din/D-DIN.otf') format('opentype'),
}
@import "../node_modules/bootstrap/scss/bootstrap";

// Standard font across
body{
    font-family:"D-DIN";
    padding-top: 50px;
}

//Nav Bar Header
.navbar{
    padding-left: 21%; 
    padding-right: 21%;
    .navbar-brand{
        font-size:25px;
    }
    .navbar-nav{
        font-size: 20px;
    }
}


// Intro container
.container-full{
    //background-image: linear-gradient(325deg, #4ab66e 0%, #229b85 100%);
    background-image: linear-gradient( 325deg, rgb(233, 156, 93) 0%, #FD6585 100%);
    
    color:white;
    padding-bottom: 20rem;
    h1{
        &.display-1{
            padding-top: 5rem;
        }
    }
}

//Skill Header
.skills-header-container{
    padding-top:8rem;
    h2{
        padding-bottom: 2rem;
    }
    .skill-icons{
        padding-bottom: 2rem;
    }
    .list-group-item{
        padding-bottom:1rem;
        text-align: center;
        font-size: 1.25rem;
    }
}

// Project Header
.project-header{
    padding-top:8rem;
}

// Project Content
.project-container{
  .project-title{
      padding-top: 1rem;
      padding-bottom: 2rem;
  }
  .project-title-after{
      padding-top:3rem;
      padding-bottom: 2rem;
  }
  p{
      font-size: 1.2rem;
      &.project-software{
          font-size:1.3rem;
      }
  }
  
}

// Contact
.contact{
    margin-bottom: 10rem;
    a{
        text-decoration: none;
        color:black;
        
    }
    a:hover{
        color:#86C5D8;
    }
    .icon{
        font-size: 4rem;
        margin-left:1rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        text-decoration: none;
    }
    p{
        font-size: 1.2rem;
    }
}

// Animations
